// vuetify 기본 설정
@use 'vuetify' with (
  // 전역 폰트 설정
  $font-size-root: 14px,
  $body-font-family: ('Spoqa Han Sans Neo', 'Noto Sans KR', sans-serif)
);

.v-btn--size-default {
  --v-btn-size: 1rem !important;
}

.v-btn--variant-outlined {
  border-color: rgba(var(--v-border-color), 0.5) !important;
}

.v-snackbar__wrapper {
  margin-bottom: 52px;
}

.v-table {
  font-size: 1rem !important;
  border-radius: 8px !important;

  @extend .border;

  &.v-table--density-default {
    --v-table-header-height: 44px !important;
    --v-table-row-height: 40px !important;

    .v-field__field {
      height: 32px !important;
      display: flex !important;
      align-items: center !important;
    }

    .v-switch .v-selection-control {
      min-height: 32px !important;
    }
  }

  &.v-table--fixed-header {
    > .v-table__wrapper {
      > table {
        > thead {
          > tr {
            > th {
              background: rgb(var(--v-theme-primary)) !important;
              color: rgb(var(--v-theme-on-primary)) !important;
              white-space: nowrap;

              &:not(:last-child) {
                box-shadow: inset -1px 0 rgba(var(--v-theme-on-primary), var(--v-border-opacity)) !important;
              }
            }
          }
        }

        > tbody {
          > tr {
            > td {
              &:not(:last-child) {
                box-shadow: inset -1px 0 rgba(var(--v-border-color), var(--v-border-opacity)) !important;
              }
            }
            &:last-child {
              > td {
                border-bottom: 1px solid
                  rgba(var(--v-border-color), var(--v-border-opacity)) !important;
              }
            }

            &.v-data-table-rows-no-data {
              > td {
                border-bottom: none !important;
              }
            }
          }
        }
      }
    }
  }

  .v-data-table-footer {
    padding: 0px !important;
  }
}
